core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt

instruction text bug

timer bug let change to var

timer running 2 functions at once bug

username still being able to type after pressing start

whitespace bug

correct answers adding up on every click

instruction button input bug
