@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Oswald&display=swap');


body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/football.pitch.jpeg);
    overflow-x: hidden;
}

/* Header */

.hero-text {
    font-size: 2.5rem;
    font-family: 'Bungee Spice', sans-serif;
}

.ball-img {
    width: 10vh;
    height: 10vh;
    display: block;
    margin: auto;
    border-radius: 50%;
}

/* Quiz container */

#quiz-container {
    height: 50vh;
    width: 80vw;
    border: 1px solid black;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: azure;
    box-shadow: inset 0 0 15px;
}

#question {
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.ans-btns {
    width: 80vw;
    height: 7vh;
    margin-top: 15px;
    border-radius: 10px;
}

.ans-btns:hover {
   border: 8px solid steelblue;
   cursor: pointer;
}

/* Start and restart buttons */

.control-buttons {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 20px;
    width: 30vw;
    height: 5vh;
    border-radius: 10px;
    border: 3px solid steelblue;
    background-color: black;
    color: white;
    font-size: 1.1rem;
}

.btn:hover {
    cursor: pointer;
    color: white;
    background-color: dimgray;
}

#score {
    font-size: 2rem;
    margin-top: 75px;
    text-align: center;
    font-weight: bold;
}

.hide {
    display: none;
}

/* Name input field */

#name-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#name-label {
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    margin-top: 75px;
    border-bottom: 1px solid black
}

input[type=text] {
    width: 60vw;
    margin-top: 50px;
    height: 3vh;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0 0 10px;
}


.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}

/* Timer styles */

#timer{
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: 15px;
}

/* Alert box styles */

.alert-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30vh;
    width: 35vh;
    max-width:100%;
    margin-top: 80px;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    background-color: cadetblue;
} 

#ok-btn {
    margin: auto;
    width: 20vw;
    height: 5vh;
    border-radius: 10px;
    border: 3px solid steelblue;
    background-color: black;
    color: white;
}

#ok-btn:hover {
    cursor: pointer;
    color: white;
    background-color: dimgray;
}

.alertbox-text {
    text-align: center;
    font-size: 1rem;
    margin-top: 5vh;
    padding: 10px;
}

#go-btn {
    margin: auto;
    width: 20vw;
    height: 5vh;
    border-radius: 10px;
    border: 3px solid steelblue;
    background-color: black;
    color: white;
}

#go-btn:hover {
    cursor: pointer;
    color: white;
    background-color: dimgray;
}

#play-again-btn {
    margin: auto;
    width: 20vw;
    height: 5vh;
    border-radius: 5px;
}

#play-again-btn:hover {
    cursor: pointer;
    color: white;
    background-color: dimgray;
}

/* Stats section */

.stats-container {
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    padding: 0 10px;
    width: 80vw;
    height: 15vh;
    background-color: azure;
}

#stats-header {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

.stats-text {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}