@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Oswald&display=swap');


body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/football.pitch.jpeg);
    overflow-x: hidden;
    font-family: 'Oswald', sans-serif;
}

/* Header */

.hero-text {
    font-size: 2.5rem;
    font-family: 'Bungee Spice', sans-serif;
    text-align: center;
}

.ball-img {
    width: 10vh;
    height: 10vh;
    display: block;
    margin: auto;
    border-radius: 50%;
}

/* Quiz container */

#quiz-container {
    height: 50vh;
    width: 80vw;
    border: 1px solid black;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border: 0.3rem solid black;
    align-items: center;
    padding: 0 10px;
    border-radius: 10px;
    background-color: azure;
    box-shadow: inset 0 0 20px;
}

#question {
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-bottom: 2rem;
    animation: fadeIn 1s;
    border-bottom: 1px solid black;
}

.question-container {
    height: 20vh;
    width: 50vw;
    border: 1px solid black;
}

.button-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.ans-btns {
    width: 33vw;
    height: 7vh;
    font-size: 1rem;
    border-radius: 10px;
    border-bottom: 0.5rem solid black;
    border-right: 0.5rem solid black;
    background-color: cadetblue;
    color: white;
    animation: fadeIn 1s;
    margin: 0.8rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.ans-btns:hover {
    cursor: pointer;
    color: blue;
}

.click {
    border: 0;
    color: black;
}

/* Start and restart buttons */

.control-buttons {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 15px;
    width: 33vw;
    height: 5vh;
    border-radius: 10px;
    border: 3px solid steelblue;
    background-color: black;
    color: white;
    font-size: 1rem;
    text-align: center;
}

.next-btn {
    width: 33vw;
    height: 7vh;
    border: 3px solid steelblue;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 1rem;
    text-align: center;
    margin: 0.5rem;
}

.next-btn:hover {
    cursor: pointer;
    color: white;
    background-color: dimgray;
}

.btn:hover {
    cursor: pointer;
    color: white;
    background-color: dimgray;
}

#score {
    font-size: 2rem;
    margin-top: 75px;
    text-align: center;
    font-weight: bold;
}

.hide {
    display: none;
}

/* Name input field */

#name-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#name-label {
    font-size: 1.7rem;
    font-family: 'Oswald', sans-serif;
    margin-top: 75px;
    border-bottom: 1px solid black
}

input[type=text] {
    width: 50vw;
    margin-top: 50px;
    height: 3vh;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0 0 10px;
}


.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}

/* Timer styles */

#timer {
    font-size: 1.8rem;
    text-align: center;
    border: 0.3rem solid black;
    border-radius: 10px;
    background-color: azure;
    box-shadow: inset 0 0 20px;
    width: 80vw;
    margin: auto;
    padding: 5px 10px;
}


/* Alert box styles */

.alert-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30vh;
    width: 35vh;
    max-width: 90%;
    margin: auto;
    border-radius: 50px;
    padding: 0.5rem;
    border: 0.3rem solid black;
    color: white;
    background-color: cadetblue;
    animation: fadeIn 1s;
}

#ok-btn {
    margin: auto;
    width: 20vw;
    max-width: 80%;
    height: 5vh;
    border-radius: 10px;
    border: 3px solid steelblue;
    background-color: black;
    color: white;
}

#ok-btn:hover {
    cursor: pointer;
    color: white;
    background-color: dimgray;
}

.alertbox-text {
    text-align: center;
    font-size: 1.3rem;
    padding: 25px;
}

#go-btn {
    margin: auto;
    width: 20vw;
    max-width: 80%;
    height: 5vh;
    border-radius: 10px;
    border: 3px solid steelblue;
    background-color: black;
    color: white;
}

#go-btn:hover {
    cursor: pointer;
    color: white;
    background-color: dimgray;
}

#play-again-btn {
    margin: auto;
    width: 20vw;
    height: 5vh;
    border-radius: 10px;
    border: 3px solid steelblue;
    background-color: black;
    color: white;
}

#play-again-btn:hover {
    cursor: pointer;
    color: white;
    background-color: dimgray;
}

/* Stats section */

.stats-container {
    border: 0.3rem solid black;
    border-radius: 10px;
    margin-top: 10px;
    padding: 0 10px;
    width: 80vw;
    height: 19vh;
    background-color: azure;
    box-shadow: inset 0 0 20px;
}

#stats-header {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

.stats-text {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

/* Media queries */

/* Extra small phones */

@media screen and (max-width: 375px) {
    .alertbox-text {
        font-size: 1rem;
        padding: 10px;
    }

    .hero-text {
        font-size: 2rem;
    }

    .btn {
        font-size: 0.8rem;
    }

    #timer {
        font-size: 1.4rem;
    }

    #question {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }

    .ans-btns {
        margin: 1px;
        font-size: 0.6rem;
        border: 1px solid black;
        width: 60vw;
    }

    #stats-header {
        margin-top: 0px;
        font-size: 1.2rem;
    }

    .stats-text {
        margin-bottom: 0.7rem;
        font-size: 1rem;
    }

    #play-again-btn {
        height: 9vh;
    }
}

/* Large phones and small tablets */

@media screen and (min-height: 800px) {
    #name-label {
        font-size: 2.2rem;
        margin-top: 100px;
    }

    #question {
        font-size: 1.3rem;
    }

    .stats-text {
        font-size: 1.2rem;
    }

    #stats-header {
        font-size: 2rem;
    }

    #quiz-container {
        height: 45vh;
    }

    .stats-container {
        height: 16vh;
    }
}

/* Specific type medium size phones */

@media screen and (min-height: 800px) and (max-width: 400px) {
    .ans-btns {
        height: 7vh;
    }

    .btn {
        margin: 10px;
    }

    .stats-text {
        margin-bottom: 5px;
    }

    #ok-btn {
        width: 30vw;
        height: 6vh;
    }
}

/* Medium size tablets */

@media screen and (min-height: 1024px) and (min-width: 700px) {
    #quiz-container {
        height: 50vh;
    }

    .hero-text {
        font-size: 3.5rem;
    }

    #question {
        font-size: 1.8rem;
        margin-bottom: 5rem;
    }

    .ans-btns {
        height: 7vh;
        width: 35vw;
    }

    .btn {
        height: 4vh;
    }

    .stats-container {
        height: 14vh;
    }

    .alertbox-text {
        font-size: 2rem;
    }

    .alert-container {
        height: 24vh;
        width: 32vh;
    }

    .button-group {
        margin-bottom: 2rem;
    }
}

/* For landscape small tablets and medium size phones */

@media screen and (orientation: landscape) and (max-width: 850px) {
    .quiz-container {
        margin: auto;
        height: 55vh;
    }

    .ball-img {
        height: 20vh;
        width: 15vw;
    }

    .btn {
        height: 7vh;
    }

    .hero-text {
        font-size: 3.5rem;
        margin: 0;
        padding: 10px;
    }

    input[type=text] {
        height: 5vh;
    }

    #name-label {
        font-size: 2rem;
        margin-top: 10px;
    }

    .alert-container {
        height: 45vh;
        width: 60vh
    }

    .stats-container {
        height: 30vh;
    }

    #ok-btn {
        height: 8vh;
        margin-bottom: 10px;
    }

    #go-btn {
        height: 7vh;
    }

    #play-again-btn {
        height: 7vh;
    }

    .ans-btns {
        height: 8vh;
        margin: 0.4rem;
    }

    .next-btn {
        margin-top: 0.3rem;
    }

    #quiz-container {
        height: 56vh;
    }

    #question {
        margin-bottom: 1rem;
    }

    .alertbox-text {
        font-size: 1rem;
    }
}

/* Landscape large mobile devices */

@media screen and (orientation:landscape) and (min-width: 851px) and (max-width: 950px) {
    #question {
        font-size: 1.3rem;
        margin-bottom: 0;
    }

    .alertbox-text {
        font-size: 1rem;
    }

    .ball-img {
        width: 20vh;
        height: 15vh;
    }

    .btn {
        height: 8vh;
    }

    .alert-container {
        height: 40vh;
        width: 55vh;
    }

    #ok-btn {
        height: 8vh;
    }

    #go-btn {
        height: 8vh;
    }

    #play-again-btn {
        height: 8vh;
    }

    #name-label {
        margin-top: 50px;
    }

    .next-btn {
        margin: 0;
    }

    .stats-container {
        height: 27vh;
    }
}

/* For landscape tablets */

@media screen and (orientation:landscape) and (min-width: 965px) {
    .ans-btns {
        height: 9vh;
    }

    #question {
        font-size: 1.5rem;
    }

    .hero-text {
        font-size: 3.5rem;
    }
}

/* For extra large devices */

@media screen and (min-height: 1025px) {
    .ans-btns {
        height: 8vh;
    }


}