body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.hero-text {
    margin: 50px;
}

#quiz-container {
    height: 50vh;
    width: 80vw;
    border: 1px solid black;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#question {
    margin: 50px;
}

.button-group > button {
    width: 80vw;
    height: 6vh;
    margin-top: 15px;
}

.control-buttons {
    display: flex;
    justify-content: center;
}

.control-buttons > button {
    margin: 10px;
}